@model ComicBookGallery.Models.ComicBook
@{
    ViewBag.Title = Model.DesplayText;
    ViewBag.ShowIndexBar = true;
    ViewBag.ShowSeriesBar = true;
}

<h2>@Model.DesplayText</h2>


<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite?"Yes":"No")</h5>
            <h5>Artists:</h5>
            <div>

                @if (Model.Artists.Length > 0)
                {
                    <ul>
                        @foreach (var artist in Model.Artists)
                        {
                            <li>@artist.Role: @artist.Name</li>
                        }
                    </ul>
                }
                
            </div>
        </div>
        <h5>Description</h5>
        <p>@Html.Raw(Model.DescriptionHtml)</p>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DesplayText" class="img-responsive" />
    </div>

    <p>&nbsp;</p>
    <p>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-via="@ViewBag.TwitterAccount" data-size="large"
           data-hashtags="comicbooks">Tweet</a>
    </p>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>


